.container {
  width: 60%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.container .main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
  align-items: center;
}
.container form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container h1 {
  font-size: 40px;
  margin-bottom: unset;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}
.content label {
  color: #747474;
  font-size: 15px;
}
.content input {
  font-size: 20px;
  border: unset;
  border: solid #f4f4f4 2px;
  border-radius: 0.5rem;
  color: #747474;
  width: 100%;
}
#reset-btn {
  margin: auto;
  border: unset;
  border-radius: 1.8rem;
  width: fit-content;
  background-color: #f84445;
  color: white;
  padding: 15px 20px;
  font-weight: bolder;
  transition: 0.5s;
}

#reset-btn:hover {
  opacity: 0.9;
}
